$font-primary: 'Asap', sans-serif;
$font-logo: 'Lato', sans-serif;
$color-primary: #4d4d4d;
$bg-btn-active: #FFFFFF;
$bg-btn-passive: transparent;

$fz-title: 48px;
$fw-title: 700;
$lh-title: 49px;
$ls-title: 1.2px;
$ls-title: 1.2px;
$tt-title: uppercase;
