@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?75b811");
  src: url("../fonts/icomoon.eot?75b811#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?75b811") format("truetype"), url("../fonts/icomoon.woff?75b811") format("woff"), url("../fonts/icomoon.svg?75b811#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-location-arrow:before {
  content: "\f124";
}

.icon-dribbble:before {
  content: "\f17d";
}

.icon-behance:before {
  content: "\f1b4";
}
